<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  parallel="classes" name="All Test Suite">
    <test thread-count="5" parallel="classes" name="submitorder">
        <classes>
            <class name="grid.chrome_google"></class>
            <class name="grid.googleTest"></class>
        </classes>
    </test>
</suite>